@font-face {
    font-family: regular;
    src: url(font/HoxtonNorthTrial-Medium-BF63c898143a962.otf);
}
@font-face {
    font-family: bolds;
    src: url(font/HoxtonNorthTrial-Bold-BF63c8981406eaa.otf);
}
body{
    margin: 0px;
}
.contenedor {
    margin: auto;
    width: 100vw;
    max-width: 1920px;
    height:100vw ;
    max-height: 1080px;
    display: grid;
    grid-template-columns: 20vw 80vw;
    transition: 0.5s;
}
.div2 {
    width: 100%;
    background-color: #f0ecf4;
}
.menu {
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    background-color: white;
}
.icon_menu {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    margin: auto;
    padding: 0%;
}
#opc_menu{
    display:none ;
}
.foto {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin: 0px;
}
#opc_menu:checked+.contenedor{
    grid-template-columns: 4rem auto;
}
.header {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding-left: 0.7rem;
}
.feliz {
    width:  2.5rem;
    height: 2.5rem;
}
.admin {
    margin: 0%;
    font-family: regular;
    font-weight: 900;
    color: #206cec;
    font-size: 2rem;
    padding-left: 1rem;
}
.dash {
    display: flex;
    width: 85%;
    border-radius: 1rem;
    background-color: #206cec;
    color: white;
    font-size: 1.2rem;
    align-items: center;
    margin: 3rem 5% 2rem 5%;
}

.dash p{
    margin: 1rem;
    font-family: regular;
}
.iconD {
    margin-left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}
#main{
    font-size: 1rem;
    font-weight: 900;
    color: gray;
    font-family: regular;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
#check_elements{
    display: none;
}
.elements{
    height: 0rem;
    font-family: regular;
    font-size: 0.9rem;
    overflow: hidden;
    margin-top: 0rem;
}
.elements p:hover{
    color: #4668a3;
    cursor: pointer;
}
.elements p{
    margin-left: 4.5rem;
}

#check_elements:checked ~ .elements{
    height: 8rem;

}
.boton_Elements {
    transition: 0.2s;
    display: flex;
    width: 85%;
    height: 3rem;
    border-radius: 1rem;
    align-items: center;
    margin: 0.1rem 5% 1rem 5%;
    font-size: 1.2rem;
    cursor: pointer;
}
.boton_Elements p{
    margin-left: 1.3rem;
    font-family: regular;
}
#check_elements:checked ~ .boton_Elements{
    background-color: #206cec;
    color: white;
}
.elementsI {
    margin-left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}
.chart {
    display: flex;
    width: 85%;
    border-radius: 1rem;
    align-items: center;
    margin: 0.1rem 5% 1rem 5%;
    font-size: 1.2rem;
    cursor: pointer;
}
.chart p{
    margin-left: 1.3rem;
    font-family: regular;
}
.chart_I {
    margin-left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    border-radius: 0.2rem;
}
.widget {
    display: flex;
    width: 85%;
    border-radius: 1rem;
    align-items: center;
    margin: 0.1rem 5% 01rem 5%;
    font-size: 1.2rem;
    cursor: pointer;
}
.widget p{
    margin-left: 1.3rem;
    font-family: regular;
}

.widget_I {
    margin-left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}
#tableA{
    font-size: 1rem;
    font-weight: 900;
    color: gray;
    font-family: regular;
    margin-left: 1rem;
}
.table {
    display: flex;
    width: 85%;
    border-radius: 1rem;
    align-items: center;
    margin: 0.1rem 5% 1rem 5%;
    font-size: 1.2rem;
    cursor: pointer;
}
.table p{
    margin-left: 1.3rem;
    font-family: regular;
}
.table_I {
    margin-left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}
#check_forms{
    display: none;
}
.forms{
    height: 0rem;
    font-family: regular;
    font-size: 0.9rem;
    overflow: hidden;
    margin-top: 0rem;
}
.forms p:hover{
    color: #4668a3;
    cursor: pointer;
}
.forms p{
    margin-left: 4.5rem;
}

#check_forms:checked ~ .forms{
    height: 8rem;

}
.boton_forms {
    transition: 0.2s;
    display: flex;
    width: 85%;
    border-radius: 1rem;
    align-items: center;
    margin: 0.1rem 5% 0.5rem 5%;
    font-size: 1.2rem;
    cursor: pointer;
    height: 3rem;
}
.boton_forms p{
    margin-left: 1.3rem;
    font-family: regular;
}
#check_forms:checked ~ .boton_forms{
    background-color: #206cec;
    color: white;
}
.formsI {
    margin-left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}
.contenRight {
    height: 87.5%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.dashboardR {
    font-family: regular;
    font-size: 2.5rem;
    margin: 0%;
    padding-top:1rem ;
}
.text2 {
    color: gray;
    font-family: regular;
    font-size: 1rem;
}
.text2 span{
    color: #206cec;
}
.cajas {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    justify-content: space-around;
}
.caja1 {
    background-color: white;
    flex: 1;
    border-radius: 1rem;
}
.caja1D1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline:1.5rem ;
    margin-top: 2%;
}
.caja1D1 p{
    font-family: regular;
    font-weight: 900;
    font-size: 1.5rem;
    margin: 0.8rem 0rem;
}

#up{
    width:1.5rem;
    height: 1.5rem;
}
.traf{
    font-family: regular;
    font-size: 0.9rem;
    margin-left: 1.5rem;
    margin-bottom:0.5rem ;
}
.barraC1 {
    background-color: #f0ecf4;
    border-radius: 1rem;
    height: 0.7rem;
    width: 90%;
    margin: auto;
}
.barraC1 p{
    border-radius: 1rem;
    background-color: #206cec;
    width: 40%;
    height: 100%;
}
.cuarenta{
    font-family: regular;
    font-weight: 900 ;
    font-size: 0.9rem;
    margin-left: 1.5rem;
}
.caja2 {
    background-color: white;
    flex: 1;
    border-radius: 1rem;
}
.barraC2 {
    background-color: #f0ecf4;
    border-radius: 1rem;
    height: 0.7rem;
    width: 90%;
    margin: auto;
}
.barraC2 p{
    border-radius: 1rem;
    background-color: #206cec;
    width: 60%;
    height: 100%;
}
.caja3 {
    background-color: white;
    flex: 1;
    border-radius: 1rem;
}
.barraC3 {
    background-color: #f0ecf4;
    border-radius: 1rem;
    height: 0.7rem;
    width: 90%;
    margin: auto;
}
.barraC3 p{
    border-radius: 1rem;
    background-color: #206cec;
    width: 30%;
    height: 100%;
}
.caja4 {
    background-color: white;
    flex: 1;
    border-radius: 1rem;
}
.barraC4 {
    background-color: #f0ecf4;
    border-radius: 1rem;
    height: 0.7rem;
    width: 90%;
    margin: auto;
}
.barraC4 p{
    border-radius: 1rem;
    background-color: #206cec;
    width: 80%;
    height: 100%;
}
.final{
    background-color:white;
    padding: 0.01rem;
    border-radius: 1rem;
}
.final1 {
    font-size:1.5rem ;
    font-family: regular;
    font-weight: 100;
    margin-left: 1rem;
}
.final12 {
    font-size:1.8rem ;
    font-family: regular;
    font-weight: 900;
    margin-left: 1rem;
}


@media only screen and (max-width: 400px){
    .contenedor{
        height: 100vh;
        grid-template-columns: 50vw 50vw;
    }
    #opc_menu:checked+.contenedor{
        grid-template-columns: 4rem 20rem;
    }
    .caja1{
        width: 8.5rem;
        height: 8rem;
    }
    .caja2{
        width: 8.5rem;
        height: 8rem;
    }
    .caja3{
        width: 8.5rem;
        height: 8rem;
    }
    .caja4{
        width: 8.5rem;
        height: 8rem;
    }
    .barraC1 p{
        margin: 0rem;
    }
    .barraC2 p{
        margin: 0rem;
    }
    .barraC3 p{
        margin: 0rem;
    }
    .barraC4 p{
        margin: 0rem;
    }
}