.contenedor {
    width: 95vw;
    height: 45vw;
    border: 0.5vw solid gray;
    display: grid;
}


.menu{
    background-color: #3a1bad;
    width: 15vw;
    height: 45vw;
    display: grid;
    align-items: center;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 6;
    transition: 0.5s;
    
}




.head{
    grid-column-start: 2;
    border: 1px solid red;
    width: 79vw;
    height: 5vw;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    transition: 0.5s;
    
}

.list {
    width: 3vw;
}
#menulist {
    position: absolute;
   
   display: none;
    
}

#menulist:checked ~ .menu{
    width: 5vw;
    height: 45vw;
}

#menulist:checked ~ .caja{
    width: 90vw;
}
#menulist:checked ~ .head{
   
  
    width: 89vw;
    

}



/*#menulist:checked ~ .head{
position: absolute;
    display: grid;
    width: 95vw;
    height: 5vw;
    
    
}*/



.caja {
    width: 80vw;
    height: 40vw;
    background-color: aqua;
    grid-row-start: 2;
    display: grid;
    column-gap: 2vw;
    row-gap: 5vw;
    transition: 0.5s;
}

.trafic {
    width: 98%;
    height: 10vw;
    background-color: white;
    margin-left: 1vw;
    border-radius: 1vw;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    
}

.sales {
    width: 98%;
    height: 10vw;
    background-color: white;
    border-radius: 1vw;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

.pages {
    width: 98%;
    height: 10vw;
    background-color: white;
    border-radius: 1vw;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
}

.visitor {
    width: 98%;
    height: 10vw;
    background-color: white;
    border-radius: 1vw;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
}

.report {
    width: 98%;
    height: 10vw;
    background-color: rgb(161, 31, 31);
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: -10vw;
    border-radius: 1vw;
    margin-left: 1vw;
}




