.contenedor {
    display: grid;
    justify-content: center;

}

.contenedor1 {
    width: 65vw;
    height: auto;
    display: grid;
    /*grid-template-columns: 2;
    grid-template-rows: 3;*/
    background-color: black;
    padding-top: 2vw;
    padding-bottom: 2vw;
    column-gap: 1vw;
    row-gap: 1vw;
    justify-content: center;
    border-radius: 1vw;
}
.contenedor2 {
    width: 65vw;
    height: auto;
    display: grid;
    background-color: black;
    padding-top: 2vw;
    padding-bottom: 1.5vw;
    column-gap: 1vw;
    row-gap: 1vw;
    justify-content: center;
    border-radius: 1vw;
    margin-top: 1vw;
}

.video1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.letras {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.letras2 {
    border-radius: 1vw;
    width: 30vw;
    height: auto;
}

.video11 {
    border-radius: 1vw;
    width: 30vw;
    height: auto;
}

.video22 {
    border-radius: 1vw;
    width: 30vw;
    height: auto;
}

.video3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.video33{
    border-radius: 1vw;
    width: 61vw;
    height: auto;
}

.verde {
    grid-column-start: 1;
    grid-column-end: 2;
}
.verde2 {
    width: 30vw;
    height: 20vw;
    border-radius: 1vw;

}

.cuadros {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.cuadros2 {
    width: 30vw;
    height: 41vw;
    border-radius: 1vw;
}

.video4 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.video44 {
    width: 30vw;
    height: 20vw;
    border-radius: 1vw;
}

