.paisaje {
    display: grid;
   background-size: 100vw;
    background-image: url(imagenes/Paisaje.png);
    
    width: 100vw;
    height: 50vw;
    grid-template-columns: 4;
    grid-template-rows: 4;
    column-gap: 1vw;
    row-gap: 1vw;
}